div(class="topbar-wrapper",style="z-index: 5;")
  div(class="topbar",data-dropdown="dropdown")
    div(class="topbar-inner")
      div(class="container")
        h3
          a(href="#")
            |VactionR
div(class="row", style="padding-top:75px")
  div(class="span16", style="text-align:center")
    h1
      |A Vacation Planning tool
div(class="row", style="padding-top:20px")
  div(class="span1")
    |&nbsp
  div(class="span6", style="text-align:center")
    ul(class="media-grid")
      img(class="thumbnail", src="/employer.gif")        
    p(style="padding-top:37px;padding-bottom:30px")
      |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et volutpat tortor. Phasellus adipiscing, ligula sodales iaculis condimentum, nibh urna semper justo, eget lobortis orci tellus vitae risus. Etiam turpis urna, fringilla ac posuere a, accumsan sed ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ut elit felis. Integer volutpat massa quis ligula condimentum a posuere urna iaculis. Quisque id imperdiet nisi. Integer augue libero, iaculis vitae pharetra id, porta a risus. Integer tempor mollis urna, id congue elit ornare id. Cras sit amet nibh id mauris mollis tincidunt ac non risus. Proin consequat volutpat sollicitudin. Vestibulum imperdiet rutrum dolor, et aliquet ligula porta dignissim. Aenean eleifend vulputate quam, scelerisque lobortis tellus adipiscing a. Ut ac quam nec sem cursus congue. 
  div(class="span2")
    |&nbsp
  div(class="span6", style="text-align:center")
    ul(class="media-grid")
      img(class="thumbnail", src="/employee.png")        
    p(style="padding-top:15px;padding-bottom:30px")
      |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et volutpat tortor. Phasellus adipiscing, ligula sodales iaculis condimentum, nibh urna semper justo, eget lobortis orci tellus vitae risus. Etiam turpis urna, fringilla ac posuere a, accumsan sed ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ut elit felis. Integer volutpat massa quis ligula condimentum a posuere urna iaculis. Quisque id imperdiet nisi. Integer augue libero, iaculis vitae pharetra id, porta a risus. Integer tempor mollis urna, id congue elit ornare id. Cras sit amet nibh id mauris mollis tincidunt ac non risus. Proin consequat volutpat sollicitudin. Vestibulum imperdiet rutrum dolor, et aliquet ligula porta dignissim. Aenean eleifend vulputate quam, scelerisque lobortis tellus adipiscing a. Ut ac quam nec sem cursus congue. 
  div(class="span1")
    |&nbsp
div(class="row")
  div(class="span8", style="text-align:center")
    #a(href="#", class="btn large primary")="Employeer"
  div(class="span8", style="text-align:center")
    #a(href="#", class="btn info large")="Employee"
